$selector-size: 30px;
$selector-thickness: 2px;
$selector-color: white;
$selector-icon-size: 12px;
$selector-separator-size: 2rem;
$progress-pointer-size: 7px;

.section-bubbles {
  all: unset;
  list-style: none;

  position: relative;
  display: flex;
  gap: $selector-separator-size;

  li {
    float: left;

    &:not(.selected) {
      cursor: pointer;

      .section-selector {
        &:hover {
          background-color: rgba($selector-color, 0.3);
          filter: drop-shadow(white 0 0 8px);
        }
      }
    }
  }

  .progress-pointer-box {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;

    .progress-pointer {
      position: absolute;
      width: $progress-pointer-size;
      height: $progress-pointer-size;
      background-color: white;
      border-radius: 100%;

      filter: drop-shadow(white 0 0 calc($progress-pointer-size / 5));
    }
  }

  .section-selector {
    display: block;
    position: relative;
    height: $selector-size;
    aspect-ratio: 1/1;
    border: $selector-thickness $selector-color solid;
    border-radius: 100%;
    box-sizing: border-box;

    transition: background-color ease-out 0.1s;

    .ico {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: $selector-icon-size;
    }
  }

  .selected .section-selector {
    background-color: white;
    filter: drop-shadow(white 0 0 8px);

    .ico {
      color: black;
    }
  }
}

.section-bubbles {
  &.horizontal {
    flex-direction: column;

    :not(:last-child) {
      .section-selector::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
          translateY(calc($selector-separator-size + $selector-thickness));
        width: $selector-thickness;
        height: $selector-separator-size;
        background-color: $selector-color;
      }
    }

    .progress-pointer-box {
      top: 15px;
      height: calc(100% - 30px);
      width: 100%;

      .progress-pointer {
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        top: var(--progress);
      }
    }
  }
}

.section-bubbles {
  &.vertical {
    flex-direction: row;

    :not(:last-child) {
      .section-selector::after {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translateX(
            calc($selector-separator-size + $selector-thickness)
          )
          translateY(50%);
        width: $selector-separator-size;
        height: $selector-thickness;
        background-color: $selector-color;
      }
    }

    .progress-pointer-box {
      left: 15px;
      width: calc(100% - 30px);
      height: 100%;

      .progress-pointer {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: var(--progress);
      }
    }
  }
}
