$selector-size: 30px;
$selector-thickness: 3px;
$selector-color: white;
$selector-icon-size: 12px;
$selector-separator-size: 2rem;


ul {
    all: unset;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: $selector-separator-size;
}

.section-selector {
    display: block;
    position: relative;
    height: $selector-size;
    aspect-ratio: 1/1;
    border: $selector-thickness $selector-color solid;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;

    transition: background-color ease-out .1s;

    .ico {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: $selector-icon-size;
    }

    &:hover {
        background-color: rgba($selector-color, .3);
        filter: drop-shadow(white 0 0 8px)
    }
}

.selected .section-selector {
    background-color: white;

    .ico {
        color: black;
    }
}

.md {
    ul {
        :not(:last-child) {
            .section-selector::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) translateY(calc($selector-separator-size + $selector-thickness));
                width: $selector-thickness;
                height: $selector-separator-size;
                background-color: $selector-color;
            }
        }
    }
}

.sd {
    ul {
        flex-direction: row;

        li {
            float: left;
        }

        :not(:last-child) {
            .section-selector::after {
                content: '';
                position: absolute;
                bottom: 50%;
                right: 0;
                transform: translateX(calc($selector-separator-size + $selector-thickness)) translateY(50%);
                width: $selector-separator-size;
                height: $selector-thickness;
                background-color: $selector-color;
            }
        }
    }
}