@import "/src/styles/variables";

$border-size: 0rem;

.side-nav-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  grid-area: sidenav;
  background-color: $color-primary-dark;
  border-left: $border-size white solid;
  filter: $mini-drop-shadow-b;

  nav {
    position: sticky;
    top: 0;
    height: 100dvh;
    padding: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    .toggle-visibility {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateX(-90%) translateY(-50%);
      width: min-content;
      padding: 1rem 0.5rem;
      background-color: $color-primary-dark;
      border-radius: 10px 0 0 10px;
      border: $border-size white solid;
      border-right: none;
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }
    }

    .options-box {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 14px 4px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
    }
  }
}

.side-nav-wrapper {
  transition: transform 0.2s ease-in-out;

  &.hidden {
    transform: translateX(100%);
  }
}

.lock-side {
  .side-nav-wrapper {
    position: static;

    nav {
      background-color: $color-primary-dark;
    }
  }
}

@media screen and (max-height: 500px) {
  .side-nav-wrapper {
    nav {
      flex-direction: row;

      .options-box {
        position: static;
      }
    }
  }
}
