.sm-bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.sm-bg {
  position: sticky;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;

  .sm-bg--content {
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-size: 200vh;
    transition: transform 0.12s ease-out;
  }
}
