// THEME
$color-primary: #242424;
$color-primary-font: #ffffff;

$color-secondary: #2e2e2e;
$color-secondary-font: #ffffff;

$color-accent: #dbd053;
$color-accent-font: #171717;

$color-accent-2: #de541e;
$color-accent-2-font: #171717;

$color-accent-3: #e0d8de;
$color-accent-3-font: #171717;

$mini-drop-shadow: drop-shadow(white 1px 1px 3px);
$mini-drop-shadow-b: drop-shadow(black 1px 1px 3px);
$base-drop-shadow: drop-shadow(white 0 0 8px);
$base-drop-shadow-b: drop-shadow(black 0 0 8px);

$icon-size-r: 1rem;
$icon-size-m: 1.5rem;
