.t-center {
  text-align: center;
}

.t-acc {
  color: $color-accent;
}

.t-acc-2 {
  color: $color-accent-2;
}

.t-acc-3 {
  color: $color-accent-3;
}

.t-sub {
  opacity: 0.9;
}

.t-sub-2 {
  opacity: 0.7;
}
