@import "/src/styles/variables";

#content {
  min-height: 100vh;
  grid-area: content;

  section {
    height: 100vh;
  }

  section:nth-of-type(even) {
    background-color: rgba($color-secondary, 1);
  }
}
