@import "/src/styles/variables";

#content {
  .welcome-section {
    justify-content: space-evenly;
    padding: 2rem;

    .about-me-wrapper {
      display: flex;
      flex-direction: column;
    }

    .personal-image {
      width: 100%;
      max-width: 350px;
    }

    .buttons-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      gap: 1rem 0;
    }

    .social-links {
      margin-top: 2rem;
    }
  }
}

.md {
  #content {
    .welcome-section {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      padding: 60px;

      .personal-image {
        width: 100%;
        max-width: 500px;
      }
    }
  }
}
