@import "/src/styles/variables";

.custom-anchor {
  color: inherit;
  transition: all 0.1s ease-out;

  &.disabled {
    cursor: none;
    pointer-events: none;
    opacity: 0.4;
  }

  &.custom-button {
    display: flex;
    width: 100%;
    gap: 3px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.custom-anchor {
  &.text {
    font-weight: 600;
    text-decoration: none;

    &:not(.disabled) {
      &:hover {
        filter: $mini-drop-shadow;
        text-decoration: underline;
      }
    }
  }

  &.icon {
    .fa-icon {
      height: $icon-size-m;
    }

    &:not(.disabled) {
      &:hover {
        filter: $mini-drop-shadow;
      }
    }
  }
}
