#app {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "content header"
        "footer footer";
    grid-template-rows: auto 300px;
    grid-template-columns: auto 200px;
}

#app.sd {
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-rows: 200px auto 300px;
    grid-template-columns: auto;
}